.image-container {
  display: flex;
  animation: slideImages 15s linear infinite; /* Adjust the duration as needed */
  animation-iteration-count: infinite;
}

.sliding-image {
  width: 10%; /* Each image takes an equal portion of the viewport width */
  margin-top: 80px;
}

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-988px - 100vw)
    ); /* Total movement is the viewport width */
  }
  /* 
  101% {
    transform: translateX(0);
  } */
}

.image-container_1 {
  display: flex;
  animation: slideImages 15s linear infinite; /* Adjust the duration as needed */
  animation-iteration-count: infinite;
}

.sliding-image1 {
  height: 350px;
  width: auto;
  margin-top: 80px;
}

@keyframes slideImages1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-400vw); /* Total movement is the viewport width */
  }

  101% {
    transform: translateX(0);
  }
}
