.image-container {
  display: flex;
  animation: slideImages 20s linear infinite; /* Adjust the duration as needed */
}

.sliding-image {
  width: 100vw / 21; /* Each image takes an equal portion of the viewport width */
}

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500vw); /* Total movement is the viewport width */
  }
}
