.cases_section {
  margin: 5%;
}

.cases_grid {
  /* background-image: url(billeder/bag.png);
  background-position: left;
  background-size: 100%;
  background-repeat: repeat; */
}

.cases_indhold {
  display: block;
  margin: 10%;
  border-radius: 10%;
  box-shadow: inset 0 0 20px 2px rgba(242, 239, 239, 0.419);
  background-color: rgba(0, 0, 0, 0.761);
}

img {
  border-radius: 10%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.68);
}

#footerlogo {
  box-shadow: none;
}

.cases_data {
  margin: 10px auto;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cases_data h2 {
  padding-top: 30px;
  text-align: center;
}
.cases_data h3,
.cases_data p {
  padding-left: 5px;
}

.cases_data_indhold {
  /* margin: 10px auto;
  padding-left: 5%; */
}

.casesh2 {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 80%;
  justify-content: center;
  margin: 10px auto;
}

.footer_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}
#footerlogo {
  box-shadow: none;
}

/* animation */

.cases_indhold:hover {
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  scale: 105%;
}

.cases_indhold img:hover {
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* animation end */

@media (min-width: 700px) {
  .companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 80%;
    justify-content: center;
    margin: 10px auto;
  }

  .casesmain {
    padding: 40px;
  }

  .cases_grid {
    /* background-image: url(billeder/bag.png);
    background-position: left;
    background-size: 100%;
    background-repeat: repeat; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cases_data {
    margin: 10px auto;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
