.gradient-text10 {
  font-size: 50px;
}

.gradient-text20 {
  font-size: 80px;
  margin-top: 50px;
}

.gradient-text {
  margin-bottom: 50px;
}

.section_et h2 {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  line-height: 30px;
}

.logo {
  width: 147px;
}

.prove {
  max-width: 400px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  margin: 0 auto;
}

.grid_forside p {
  margin: 20px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  animation: slideImages 40s linear infinite; /* Adjust the duration as needed */
  animation-iteration-count: infinite;
  margin-top: 80px;
  width: 40%;
}

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-3400px - 100vw)
    ); /* Total movement is the viewport width */
  }
  /* 
  101% {
    transform: translateX(0);
  } */
}

.meta_service,
.google_ads_service,
.sociale_medier_service,
.mail_service {
  background-color: #262524;
  color: #ffffff;
  background-image: url(billeder/splash.webp);
  background-position: top;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 60px;
  max-width: 400px;
  max-height: 200px;
  margin: 0 auto;
}

.meta_service img,
.google_ads_service img,
.mail_service img,
.sociale_medier_service img {
  width: 300px;
  height: auto;
  align-items: center;
  margin-top: 20px;
  margin-left: 25px;
}

.trustpilot_overskrift {
  display: none;
}

.trustpilot_overskrift1 {
  display: block;
}

.section_trustpilot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.section_forside_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.section_forside_2 img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  max-width: 200px;
  margin: 0 auto;
}

.gradient-text1 {
  font-size: 40px;
  margin: 5px;
  margin-bottom: 30px;
}

.vigtige_links {
  grid-row: 2;
  grid-column: 2;
  text-align: left;
}

@media (min-width: 800px) {
  .section_et {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 80px;
  }

  .gradient-text10 {
    font-size: 80px;
    margin-top: -190px;
  }

  .grid_forside p,
  .grid_forside h2 {
    margin-left: 110px;
    margin-top: 20px;
    text-align: left;
  }

  .prove {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
  .logo {
    width: 147px;
    padding-top: 10px;
  }

  .section_et h2 {
    margin-left: 110px;
    margin-top: 38px;
  }

  .section_forside_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .section_forside_1 img {
    width: 450px;
    height: auto;
  }

  .section_forside_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section_forside_2 img {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }

  .meta_service,
  .google_ads_service,
  .sociale_medier_service,
  .mail_service {
    background-color: #262524;
    color: #ffffff;
    background-image: url(billeder/splash.png);
    background-position: top;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 60px;
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto;
  }

  .meta_service img,
  .google_ads_service img,
  .mail_service img,
  .sociale_medier_service img {
    width: 450px;
    height: auto;
    align-items: center;
    margin-top: 20px;
    margin: 0 auto;
  }

  .trustpilot_overskrift {
    display: block;
  }

  .trustpilot_overskrift1 {
    display: none;
  }

  .section_trustpilot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin-top: 100px;
    margin: 0 auto;
  }

  .section_trustpilot img {
    width: 300px;
    height: auto;
  }

  .image-container {
    display: flex;
    animation: slideImages 40s linear infinite; /* Adjust the duration as needed */
    animation-iteration-count: infinite;
  }

  .sliding-image {
    width: 40%; /* Each image takes an equal portion of the viewport width */
    margin-top: 80px;
  }

  @keyframes slideImages {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(
        calc(-3400px - 100vw)
      ); /* Total movement is the viewport width */
    }
    /* 
  101% {
    transform: translateX(0);
  } */
  }
}
