.section_et {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 80px;
}

.prove {
  width: 500px;
  height: auto;
  margin-left: 60px;
}

.section_et h2,
p {
  margin-left: 110px;
  margin-top: 40px;
}

.section_forside_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin-left: 160px;
  margin-top: 100px;
}

.section_forside_1 img {
  width: 450px;
  height: auto;
}

.section_forside_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 50px;
  margin-top: 100px;
}

.section_forside_2 img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.sociale_medier_service {
  background-color: #00063d;
  color: #ffffff;
  background-image: url(billeder/splash.png);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 60px;
  max-width: 500px;
  max-height: 300px;
}

.sociale_medier_service img {
  width: 400px;
  height: auto;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}

.meta_service {
  background-color: #00063d;
  color: #ffffff;
  background-image: url(billeder/splash.png);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 60px;
  max-width: 500px;
  max-height: 300px;
}

.meta_service img {
  width: 400px;
  height: auto;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}

.google_ads_service {
  background-color: #00063d;
  color: #ffffff;
  background-image: url(billeder/splash.png);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 60px;
  max-width: 500px;
  max-height: 300px;
}

.google_ads_service img {
  width: 400px;
  height: auto;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}

.mail_service {
  background-color: #00063d;
  color: #ffffff;
  background-image: url(billeder/splash.png);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 60px;
  max-width: 500px;
  max-height: 300px;
}

.mail_service img {
  width: 400px;
  height: auto;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}
