* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font-family: montserrat;
  --primary-color: #bababa;
}

p,
a {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-family: "Gloock", serif;
  color: var(--primary-color);
}

h1 {
  font-size: 70px;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p,
a {
  color: var(--primary-color);
}

body {
  background-color: #08080b;
  background-image: url(billeder/bag.webp);
  background-position: left;
}

.knap {
  text-align: center;
  margin: auto;
  padding: 40px;
  font-size: 10px;
  margin-bottom: 60px;
  margin-top: 80px;
}

.knap a {
  padding: 14px 24px;
  background-color: #262524;
  color: #ffffff;
  display: inline-block;
  border-radius: 7px;
  font-family: montserrat;
  font-size: 40px;
}

footer {
  background-color: #1b1a19;
  color: #ffffff;
  background-image: url(billeder/splash.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Tilføj skygge (juster farven og størrelsen efter behov) */
  border: 2px solid rgba(125, 125, 125, 0.25);
  border-radius: 60px;
  padding: 20px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.footer_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  width: 450px;
  padding: 5px;
  padding-left: 30px;
}

.footer_box p,
.footer_box h2 {
  margin-top: 10px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 2rem;
}

.footer_box .om_os_footer p,
.kontakt_os_footer a,
.folg_os_footer p,
.service_footer p {
  color: rgb(123, 122, 122);
}

.om_os_footer p:hover,
.kontakt_os_footer a:hover,
.service_footer p:hover,
.folg_os_footer p:hover,
.vigtige_links a:hover {
  color: white;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

.gradient-text20 {
  font-size: 60px;
  margin-top: 40px;
}

p {
  font-size: 20px;
  line-height: 1.5rem;
}

.gradient-text_h2 {
  font-size: 60px;
  margin-top: 5px;
}
.gradient-text,
.gradient-text1,
.gradient-text10,
.gradient-text20,
.gradient-text40,
.gradient-text50 {
  /* Create the gradient. */
  background-image: linear-gradient(
    -300deg,
    #ffffff,
    rgba(255, 255, 255, 0.456)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;

  margin-bottom: 5px;
}

a {
  color: #bababa;
  text-decoration: none;
}

.navbar {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 25px;
}

.menu a:hover {
  color: white;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 1;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: white;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

ul.menu {
  display: none;
}

.hamburger {
  display: flex;
  color: white;
  margin-left: 300px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger {
  display: block;
  z-index: 99;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.navbar {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 25px;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0px;
  flex-direction: column;
  /* background-image: white; */
  background-color: #08080b;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}

.rights {
  text-align: center;
}

.rights p {
  font-size: 12px;
}

#footerlogo {
  width: 20%;
}

.logom {
  margin: auto;
}

.btn {
  display: none;
}

.logo {
  max-width: 100px;
}

@media (min-width: 800px) {
  .btn {
    display: block;
    color: #262524;
    background-color: white;
    border-radius: 4px;
    padding: 14px 24px;
    font-size: 1rem;
  }
  h1,
  .gradient-text,
  .gradient-text1,
  .gradient-text10 {
    font-size: 100px;
    margin-top: -150px;
    padding-top: 15%;
  }

  .knap a:hover {
    background-color: whitesmoke;
    opacity: 80%;
    color: black;
  }

  .hamburger {
    display: none;
  }

  ul.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 17px;
  }

  .logo {
    width: 147px;
    padding-top: 10px;
  }

  #footerlogo {
    width: 50%;
    margin: auto;
  }

  footer {
    background-color: #1b1a19;
    color: #ffffff;
    background-image: url(billeder/splash.webp);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Tilføj skygge (juster farven og størrelsen efter behov) */
    border: 2px solid rgba(125, 125, 125, 0.25);
    border-radius: 60px;
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .footer_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    width: 1000px;
    padding: 20px;
  }

  .vigtige_links {
    text-align: left;
  }

  .footer_box p,
  .footer_box h2 {
    margin-top: 10px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 2rem;
    text-align: left;
  }

  .footer_box .om_os_footer p,
  .kontakt_os_footer a,
  .folg_os_footer p,
  .service_footer p {
    color: rgb(123, 122, 122);
  }

  .om_os_footer p:hover,
  .kontakt_os_footer a:hover,
  .service_footer p:hover,
  .folg_os_footer p:hover,
  .vigtige_links a:hover {
    color: white;
  }

  .rights {
    margin: auto;
  }

  .ikoner {
    display: flex;
  }

  .logom {
    margin: auto;
  }

  .rights {
    margin: auto;
  }

  .kontakt_os_footer,
  .service_footer,
  .om_os_footer,
  .vigtige_links_footer {
    margin: 0 auto;
  }
}
