form {
  padding: 2rem;

  position: relative;
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px;
}
label,
select,
input,
button {
  display: block;
  gap: 2px;
  padding-bottom: 10px;
}

input {
  display: block;
  gap: 2px;
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
  color: white;
}
.form-felt {
  width: auto;
  height: auto;
  margin: 5px auto;
}

.kontakt_os_grid {
  display: grid;
  background-color: #00063d;

  align-items: center;
}
.kontakt_os_grid2 {
  display: grid;
  padding: 2rem;
  background-color: #00063d;
  margin: 0px auto;
}
.kontakt_os_grid2 img {
  height: 100px;
  width: 100px;
}
body {
  background-color: #00063d;
}
input {
  background-color: #00063d;

  border: 0;
  border-bottom: 1px solid white;
}
select {
  background-color: #00063d;

  border: 0;
  border-bottom: 1px solid white;
}
textarea {
  background-color: #00063d;
  border: 0;
  border-bottom: 1px solid white;
}
::placeholder {
  color: lightsteelblue;
}
button {
  align-items: center;
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  padding: 14px 24px;

  border: none;
  color: white;
}
