form {
  padding: 2rem;

  position: relative;
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: montserrat;
}

.gradient-text30 {
  font-size: 30px;
  text-align: left;
}

h5 {
  font-style: italic;
}

label,
select,
input,
button {
  display: block;
  gap: 2px;
  padding-bottom: 10px;
  color: #bababa;
  font-family: montserrat;
}
label {
  color: #bababa;
}
.logo {
  width: 147px;

  padding-top: 10px;
}
input {
  display: block;
  gap: 2px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
  color: white;
}
.form-felt {
  width: auto;
  height: auto;
  margin: 5px auto;
}
.kontakt_info {
  padding: 2rem;
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 2rem;
}

.kontakt_os_grid {
  background-color: #08080b;
  align-items: center;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 5%;
  margin-bottom: 80px;
}
.kontakt_os_grid2 {
  padding: 2rem;
  background-color: #08080b;
  margin: 0 auto;
}
.kontakt_os_grid2 img {
  height: 100px;
  width: 100px;
}

.sociale_medier_knap {
  margin-top: 10%;
}

input {
  background-color: #08080b;

  border: 0;
  border-bottom: 1px solid white;
}
select {
  background-color: #08080b;

  border: 0;
  border-bottom: 1px solid white;
  color: #bababa;
}
textarea {
  background-color: #08080b;
  border: 0;
  border-bottom: 1px solid white;
}
::placeholder {
  color: #bababa;
  font-family: montserrat;
}
button {
  align-items: center;
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  padding: 14px 24px;

  border: none;
  color: black;
}
button:hover {
  color: white;
}

.marius_img {
  height: 400px;
  width: auto;
  border-radius: 5%;
}

@media (max-width: 600px) {
  .book_meeting_header {
    display: none;
  }
}

@media (min-width: 800px) {
  .kontakt_os_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-felt {
    margin-top: 100px;
  }

  .knap {
    justify-items: left;
  }
}
