.omosh1 {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;

  /* Create the gradient. */
  background-image: linear-gradient(
    -300deg,
    #ffffff,
    rgba(255, 255, 255, 0.456)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.logo {
  width: 147px;

  padding-top: 10px;
}

.highlight {
  font-weight: 900;
}

.omosh2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.omosh3 {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.omosp {
  text-align: center;
  color: #bababa;
  line-height: 1.5rem;
}

.stjerne {
  width: 10%;
  margin: 10px auto;
  margin-top: 10%;
}

.omosh2team {
  text-align: center;
  /* margin-top: 30%; */
}

.omosh4 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.om_os_footer {
  /*margin-left: 110px;
  margin-top: 40px;*/
}

.grid_omos {
  display: grid;
  margin-bottom: 10%;
  grid-template-columns: 1fr;
  margin: 2%;
}

.portrait_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  margin: 10px auto;
  padding: 30px;
}

#portrait {
  border-radius: 5%;
}
#portrait2 {
  border-radius: 5%;
}
#portrait3 {
  border-radius: 5%;
}

.knap {
  text-align: center;
  margin: 150px;
}

.knap a {
  padding: 14px 24px;
  background-color: #262524;
  color: #ffffff;
  display: inline-block;
  border-radius: 7px;
  font-family: montserrat;
  font-size: 4rem;
}

@media (min-width: 768px) {
  .portrait_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
  }

  .grid_omos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin: 6%;
  }

  #fb,
  #twitter,
  #insta {
    width: 8%;
    margin: auto;
  }
}

.footer_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
  gap: 2%;
}

.rights {
  margin: auto;
}

.footer_bund {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#footerlogo {
  width: 50%;
  margin: auto;
}
.ikoner {
  display: flex;
}

.logom {
  margin: auto;
}

.rights {
  margin: auto;
}

.kontakt_os_footer,
.service_footer,
.om_os_footer,
.vigtige_links_footer {
  margin: 0 auto;
}
