.omosh1 {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  margin-bottom: 60px;
}
.gradient-text_h2 {
  font-size: 50px;
  margin-bottom: 80px;
}

.gradient-text_h3 {
  font-size: 50px;
}

.vid {
  margin-left: 70px;
}

.gradient-text40 {
  margin-top: 20px;
  padding: 20px;
}

.highlight {
  font-weight: 900;
}

.omosh2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.omosh3 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 15px;
}

.omosp {
  text-align: center;
  color: #bababa;
  line-height: 2rem;
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 10px;
}

.stjerne {
  width: 10%;
  margin: 10px auto;
  margin-top: -25px;
}

.omosh2team {
  text-align: center;
  /* margin-top: 30%; */
}

.omosh4 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.grid_omos {
  display: grid;
  margin-bottom: 10%;
  grid-template-columns: 1fr;
  margin: 2%;
}

.portrait_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  margin: 10px auto;
  padding: 30px;
}

#portrait {
  border-radius: 5%;
}
#portrait2 {
  border-radius: 5%;
}
#portrait3 {
  border-radius: 5%;
}

@media (min-width: 768px) {
  .portrait_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
  }

  .grid_omos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin: 6%;
  }

  .omosp {
    text-align: center;
    color: #bababa;
    line-height: 2rem;

    margin-top: 20px;
    padding: 10px;
  }
}
