* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meta_ads {
  height: 100px;
  width: 200px;
  border: 1px solid white;
}
.shopify {
  height: 100px;
  width: 200px;
  border: 1px solid white;
}
.social_media_icons {
  max-width: 400px;
  margin: 0 auto;
}
.tiktok {
  height: 100px;
  width: 200px;
}
.logo {
  width: 190px;

  padding-top: 10px;
}
h1 {
  font-size: 50px;
  padding: 0;
}

.book_meeting {
  align-items: center;
  display: inline-block;
  cursor: pointer;

  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 14px 24px;
  /*margin-left: 170px;*/
  margin-top: 10px;

  border: none;
  color: black;
}
.marketings_hjul {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  max-width: 600px;
}
.makerz_resultater {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  /* padding-bottom: 50px; -- smilla */
}

.resultater {
  padding-bottom: 5%;
  padding-top: 10%;
}

#makerz_resultater {
  border-radius: 50px;
}

button:hover {
  color: white;
}

p {
  padding-right: 15px;
  font-size: 20px;
  font-family: montserrat;
}
.sociale_medier_list {
  color: lightsteelblue;
  list-style: decimal;
  margin: 30px;
  font-size: 20px;
  font-family: montserrat;
}
.sociale_medier_knap {
  align-items: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;

  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 14px 24px;
  margin-left: 170px;
  margin-bottom: 80px;
  border: none;
  color: black;
}

.google_ads img {
  /* height: 120px; - smilla  */
  width: 50%;
  margin: auto;
}

h1 {
  padding-bottom: 30px;
}

h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  font-family: montserrat;
}
.email_logo {
  height: 110px;
  width: 150px;
  margin-left: 180px;
}

.grid1 {
  text-align: center;
}
.grid2 {
  text-align: center;
}

.p_google {
  text-align: none;
}

.sociale_medier {
  padding-bottom: 10%;
  padding: 10%;
  line-height: 2rem;
}

.google_ads_p {
  line-height: 2rem;
}

.p_google {
  padding-top: 10%;
  padding: 10%;
}

#google_mobil {
  padding-bottom: 15%;
}

#mailbox {
  width: 125%;
  margin: auto;
  border-radius: 20px;
}

.email_div {
  padding-top: 10%;
  padding-bottom: 10%;
}

.email_marketing {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  margin: 100px;
}

.email_p {
  line-height: 2rem;
}

@media (min-width: 800px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid1 {
    padding-top: 250px;
  }
  .makerz_resultater {
    padding-left: 20px;
    padding-right: 20px;
  }

  .email_marketing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 100px;
  }

  #mailbox {
    width: 125%;
    margin: auto;
    border-radius: 20px;
  }

  .sociale_medier {
    padding-bottom: 10%;
    padding: 10%;
    line-height: 2rem;
  }

  .google_ads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 100px;
    padding-bottom: 10%;
  }

  .google_ads_p h2,
  .google_ads_p p {
    margin-top: 30px;
  }
}

.knap {
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.knap a {
  padding: 14px 24px;
  background-color: #262524;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  font-family: montserrat;
}

.gradient-text1 {
  text-align: left;
}

.gradient-text2,
.services_h2,
.email_p {
  text-align: left;
}

/* .billede {
  align-items: center;
  display: inline-block;
  margin: 0 auto;
} */
